// ---------------------------------------------------------
.btn {
    color: #FFFF;
    text-decoration: none;
    padding: .8em 1.5em;
    margin: 1rem;
    width: 9em;
    height: 2.1rem;
    border-radius: 1.2em;
    border: 2px solid var(--secundary-color);
    background-color: var(--primary-color);
    transition: all .2s;
}

.ghost {
    background-color: transparent;
    color: var(--letter-color);
}

.btn:hover {
    background-color: var(--primary-color);
    border: 3px solid var(--secundary-color);
    @include button_transition;
}

// ---------------------------------------------------------