// ---------------------------------------------------------
.btn {
    color: #FFFF;
    text-decoration: none;
    padding: .8rem 1.5rem;
    margin: 1rem;
    width: 8rem;
    height: 2.1rem;
    border-radius: .5rem;
    border: 2px solid var(--secundary-color);
    background-color: var(--primary-color);
    transition: all .2s;
}

.ghost {
    background-color: transparent;
}

.btn:hover {
    background-color: var(--primary-color);
    border: 3px solid var(--secundary-color);
    @include button_transition;
}

// ---------------------------------------------------------