// ----------------------about-us----------------------
.about-us {
    color: var(--letter-color);
    height: 17rem;
    background: url('/img/imagenes\ segundarias\ 1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
