// ---------------------contact-----------------------
.contact {
    color: var(--letter-color);
    background-color: var(--bg-color2);
    text-align: center;
}

.contact .wrapper iframe {
    max-width: 100%;
}
