// -----------------Footer--------------
.footer {
    color: var(--letter-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--bg-color);
}

// ---------------------------------------------